.reveal pre code {
  font-size: 0.8em;
  line-height: 0.8;
}

.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal pre {
  width: 120%;
  margin-left: -10%;
}

body {
	padding: 0;
	margin: 0;
}
